#header-nav{
  background-color: #a8a8a8;
  border: 2px solid #000000;
}

#sitetitle{
  font-size: 1.7em;
  font-weight: bold;
  color: #000000;
  margin-left: 20px;
}

#nav-list a:hover {
  background: #323232;
}
#nav-list a {
    border-top: 1.5px solid #000 color #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    color: #F7F7F7;
}


.container-fluid .row span{
  font-size: 1.2em;
  font-weight: bold;

}

.row .large-context{
  background: #F5F5DC;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}

.row .large-context .chicken-tile{
  margin-top: 0.5%;
  text-align: center;
  position: relative;
}

.row .large-context p{
  margin: 0.5%;
  position: relative;

}

.row .context{
  background: #F5F5DC;
  border: 2px solid #3F0C1F;
}

.row .context p{
  margin-top: 1%;
  position: relative;
  left: -5.5%;
}

.row .context .chicken-tile{
  margin-top: 1%;
  text-align: center;
  position: relative;
  left: -5%;
}
.row .context .beef-tile{
  margin-top: 1%;
  text-align: center;
  position: relative;
  left: -5%;
}
.row .context .shshi-tile{
  margin-top: 1%;
  text-align: center;
  position: relative;
  left: -5%;
}

@media (min-width: 992px) {

}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
.row .large-context{
  margin-top: 1%;
  position: relative;
  padding: 5%;
}


}
